<ion-header>
	<ion-toolbar color="primary">
		<ion-title> Ionic Barcode Reader </ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item>
		<ion-input type="text" placeholder="QR Code Scanner" [(ngModel)]="qrData">
		</ion-input>
	</ion-item>

	<ion-segment [(ngModel)]="elementType">
		<ion-segment-button value="canvas">
			<ion-label>Canvas</ion-label>
		</ion-segment-button>
		<ion-segment-button value="img">
			<ion-label>Image</ion-label>
		</ion-segment-button>
		<ion-segment-button value="url">
			<ion-label>URL</ion-label>
		</ion-segment-button>
	</ion-segment>

	<ion-button expand="full" (click)="scanCode()" color="secondary">
		<ion-icon name="barcode" slot="start" size="large"></ion-icon>
		Scan Code
	</ion-button>

	<ion-card *ngIf="qrData" class="text-center">
		<ngx-qrcode
			[elementType]="elementType"
			[value]="qrData"
			qrc-class="my-code"
		>
		</ngx-qrcode>
		<ion-card-content>
			<ion-button
				expand="full"
				color="tertiary"
				(click)="downloadQR()"
				*ngIf="elementType === 'canvas'"
			>
				<ion-icon name="download" slot="start" size="large"></ion-icon>
				Download QR Code
			</ion-button>
		</ion-card-content>
	</ion-card>

	<ion-card *ngIf="scannedCode">
		<ion-card-content> Result of Scan: {{ scannedCode }} </ion-card-content>
	</ion-card>
</ion-content>
